body, html{ height: 100%;}
body {
	padding-top: 50px;
	background-color: #1976D2;
}

h1, h2, h3, h4, h5, h6, a, p {
	color: white;
}

#home {
	height: 100%;
	/*Horiztonally and vertically centering content"*/
    text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.jumbotron{
	background-color: #FF5722;
}
.albert {
	/*Horizontally centering the albert image*/
	margin-left: auto;
	margin-right: auto;
}
.landing-title {
	font-size: 80px;
	color: white;
}

h1,h2,h3,h4,h5,h6{
	color:white;
}
